
.registed-book-list-container{
/*    border: 1px solid black;*/
/*    width: 1000px;*/
/*    padding-top: 30px;*/
}

.registed-book-list-container p {
    margin: 0;
}


/* 도서등록btn */
.book-regist {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 85%;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
}

.list-cnt {
    display: flex;
    align-items: center;
    font-size: small;
    margin-left: 5px;
}

.book-regist > button {
    background-color: white;
    border: none;
    border: 1px solid #666;
    cursor: pointer;
}

.regist-way-container {
    position: absolute;
    top: 90%;
    left: 100%;
    transform: translateY(-50%);
    padding: 10px;
    z-index: 10;
    width: 150px; /* 드롭다운의 넓이를 조정 */
    display: none;
}

.regist-way-box {
    padding: 10px;
    font-size: small;
    height: 65px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.regist-way-box a {
    text-decoration: none;
    color: #666;
}

.regist-way-box a:hover {
    font-size: medium;
    font-weight: bold;
    color: #66785F;
}

/* hover 시 메뉴 표시 */
.book-regist:hover .regist-way-container {
    display: block;
}


/* 도서목록 */
.book-list-container {
    width: 83%;
    padding: 20px 10px;
    display: flex;
    border-bottom: 1px solid #ddd;
}

.admin-book-list-no {
    width: 5%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-book-img {
    width: 13%;
    min-height: 130px;
    display: flex;
    align-items: center;
}

.admin-book-img img{
    width: 100%;
}

.admin-book-info {
    width: 70%;
    /* border: 1px solid black; */
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.admin-book-btn {
    width: 12%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    gap: 5px;
}

/* admin-book-info */
.admin-info-title {
    margin-bottom: 5px;
}

.admin-info-from {
    font-size: small;
    color: #ccc;
    display: flex;
    gap: 10px;
}

.book-count {
    display: flex;
    gap: 10px;
}

.book-count > div {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 12%;
    padding: 5px 0;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin-book-btn > button {
    all: unset;
    text-align: center;
    cursor: pointer;
}

.admin-book-btn > button:hover {
    border-bottom: 1px solid;
}

.admin-book-btn > button:nth-child(2) {
    color: rgb(212, 34, 34);
}

.no-book {
    display:flex;
    justify-content:center;
}

/*페이지네이션*/
.pagination {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    gap: 10px;
    font-size: small;
    margin: 30px 0 60px 0;
    width: 85%;
}

.pagination li {
    cursor: pointer;
    padding: 0 3px;
    color: #999;
}

.pagination .active {
    border-bottom: 1px solid black;
    color: black;
}