p {margin:0;}

.reading-manage-container {
    padding: 10px;
}

.reading-info {
    padding: 40px 150px 40px 20px;
}

.reading {
    margin-bottom: 30px;
}

.date-group {
    display: flex;
    gap: 150px
}

.reading-date {
    font-size: small;
    color: #949494;
}

.date > p:nth-child(1),
.reading-what > p {
    color: #666;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 10px;
}

.book-search {
    display: flex;
    gap: 10px;
}

.book-search button {
    background-color: #666;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    color:white;
    cursor: pointer;
}

.book-search input {
    border: none;
    background-color: white;
    color: #949494;
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*시작,종료,뒤로 버튼*/
.reading-btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cancel-reading {
    all: unset;
    color: #666;
    font-size: small;
    cursor: pointer;
}

.cancel-reading:hover {
    border-bottom: 1px solid #666;
}

.start-reading,
.end-reading {
    all: unset;
    border: 1px solid #66785fab;
    border-radius: 3px;
    color: #66785F;
    padding: 5px 10px;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
}

.start-reading:hover,
.end-reading:hover {
    background-color: #66785f50;
}

.start-reading-menu {
    display: flex;
    font-size: small;
    border-bottom: 1px solid #bbbbbb;
    color: #bbbbbb;
    margin-top: 30px;
}

.menu-group {
    border: 0.5px solid #bbbbbb;
    border-bottom: none;
    padding: 5px 10px;
    cursor: pointer;
}

.menu-group:first-child {
    border-right: none;
}

.menu-group:last-child {
    border-left: none;
}

.menu-active {
    border: 0.5px solid #66785F;
    background-color: #66785F;
    color: white;
}

/* 챕터별기록 */
.per-chapter-container {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.per-chapter-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.per-chapter-group p {
    color: #666;
    font-weight: bold;
}

.per-chapter-group input {
    border: none;
    border-bottom: 1px solid #bbbbbb;
    padding: 5px;
    width: 30%;
}

.per-chapter-group textarea {
    resize: none;
    height: 100px;
    padding: 5px;
    border-color: #bbbbbb;
}