
/* 챕터별기록 */
.per-chapter-container {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.per-chapter-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.per-chapter-group p {
    color: #666;
    font-weight: bold;
}

/*소제목*/
.ch-input-group {
    display: flex;
    justify-content: space-between;
}

.ch-input-group input {
    border: none;
    border-bottom: 1px solid #bbbbbb;
    padding: 5px;
    width: 40%;
}

.ch-input-group input:focus {
    outline: none;
}

/*삭제icon*/
.bi-dash {
    color: #bbbbbb;
    cursor: pointer;
}

.bi-dash:hover {
    color: black;
}

.per-chapter-group textarea {
    resize: none;
    height: 100px;
    padding: 5px;
    border-color: #bbbbbb;
}

/*추가버튼*/
.bi-plus-square{
    text-align: right;
    color: #bbbbbb;
    cursor: pointer;
}

/*버튼*/
.last-btn {
    display: flex;
    justify-content: space-between;
}

/*목록버튼*/
.list-btn {
    background-color: white;
    border: none;
    cursor: pointer;
    color: #999;
}

.list-btn:hover {
    border-bottom: 1px solid #999;
}

/*저장버튼*/
.store-btn {
    background-color: #66785f;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    color:white;
    cursor: pointer;
}

.store-btn:hover {
    background-color: #666;
}