/* 챕터별기록 */
.per-chapter-container {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.per-chapter-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.per-chapter-group p {
    color: #666;
    font-weight: bold;
}

.per-chapter-group input {
    border: none;
    border-bottom: 1px solid #bbbbbb;
    padding: 5px;
    width: 30%;
}

.per-chapter-group textarea {
    resize: none;
    height: 100px;
    padding: 5px;
    border-color: #bbbbbb;
}