<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" th:href="@{${assetManifest.files['main.css']}}"/>

    <title>Title</title>
</head>
<body>
    <div class="container">

        <div class="layout-container">
            <div class="layout-top-container">
                <div class="web-title">
                    <p>iread아리드</p>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="도서명, 작가명, 장르"/>
                    <i class="bi bi-search"></i>
                </div>
            </div>
            <div class="layout-bottom-container">
                <div class="top-menu genre"><a href="/iread/user/userbooklist">북리스트</a></div>
                <div class="top-menu best-review "><a href="">북노트란?</a></div>
                <div class="top-menu book-request"><a href="">북신청</a></div>
            </div>
            <div class="main-container">
                <div>
                    <div class="profile-box">
                        <div class="username">
                            <span>장소영</span>
                            <span>관리자</span>
                        </div>
                        <div class="manage-container">
                            <p>바로가기</p>
                            <div class="manage-box">
                                <div><a href="/iread/admin/adminbooklist">도서관리</a></div>
                                <div><a href="/iread/admin/genremanage">장르관리</a></div>
                                <div><a href="">신고관리</a></div>
                                <div><a href="">회원관리</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-box">
                        <div class="username">
                            <span>장소영</span>
<!--                            <span>관리자</span>-->
                        </div>
                        <div class="manage-container">
                            <p>바로가기</p>
                            <div class="manage-box">
                                <div><a href="/iread/user/myreviewlist">나의 리뷰</a></div>
                                <div><a href="">관심북</a></div>
                                <div><a href="/iread/user/booknotelist">나의 북노트</a></div>
                                <div><a href="/iread/user/booknote">북노트 작성</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="root">dd</div>
            </div>

        </div>
    </div>


    <script th:src="@{${assetManifest.files['main.js']}}"></script>
<!--    <script src="@{/static/js/main.a09ed580.js}"></script>-->
</body>
</html>