<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.iread.mapper.AdminBookMapper">

    <select id="getIsbn" resultType="string">
        select isbn
        from books
    </select>

    <insert id="registBook" parameterType="com.project.iread.dto.BookDTO">
        insert into books(
                        isbn,
                        title,
                        link,
                        image,
                        author,
                        discount,
                        publisher,
                        pubdate,
                        description,
                        genre_no)
        values(
            #{isbn},
            #{title},
            #{link},
            #{image},
            #{author},
            #{discount},
            #{publisher},
            #{pubdate},
            #{description},
            #{genreNo})

    </insert>

<!--  모든 도서 목록 호출  -->
    <select id="getAllBook" resultType="com.project.iread.dto.BookDTO">
        select * from books
    </select>

<!--  도서목록_검색호출  -->
    <select id="getSearchBook" parameterType="string" resultType="com.project.iread.dto.BookDTO">
        select * from books b
        where b.title like concat ('%', #{keyword}, '%')
        or b.author like concat ('%', #{keyword}, '%')
        or b.publisher like concat ('%', #{keyword}, '%')
    </select>

<!--  도서목록_삭제  -->
    <delete id="deleteBook" parameterType="long">
        delete from books
        where book_no = #{bookNo}
    </delete>

<!--  장르등록  -->
    <insert id="registGenre" parameterType="list">
        insert into genres(genre_name)
        values
        <foreach item="item" collection="list" separator=",">
            (#{item.genreName})
        </foreach>
    </insert>

<!--  장르삭제  -->
    <delete id="deleteGenre" parameterType="list">
        delete from genres
        where genre_name in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item.genreName}
            </foreach>
    </delete>

<!--  장르호출  -->
    <select id="getGenre" resultType="com.project.iread.dto.GenreDTO">
        select *
        from genres
    </select>

</mapper>