<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.iread.mapper.UserBookMapper">

<!--  북노트 목록  -->
    <select id="getMyBookNote" resultMap="BookNoteMap">
        select bn.*, b.title, b.image
        from book_note bn
        join books b on b.book_no = bn.book_no
    </select>

    <resultMap id="BookNoteMap" type="com.project.iread.dto.BookNoteDTO">
        <id property="bookNoteNo" column="book_note_no" />
        <result property="startDate" column="start_date" />
        <result property="endDate" column="end_date" />
        <result property="bookNo" column="book_no" />
        <result property="userNo" column="user_no" />

        <result property="title" column="title" />
        <result property="image" column="image" />
    </resultMap>

<!--  북노트 도서검색  -->
    <select id="getSearchResult" parameterType="string" resultType="com.project.iread.dto.BookDTO">
        select book_no, title, author, image from books
        where title like concat('%', #{keyword}, '%')
            or author like concat('%', #{keyword}, '%')
    </select>

<!--  독서기록 시작하기  -->
    <insert id="createBookTable" parameterType="com.project.iread.dto.BookNoteDTO" useGeneratedKeys="true" keyProperty="bookNoteNo">
        insert into book_note(start_date, book_no)
        values(#{startDate}, #{bookNo})
    </insert>

<!--  독서기록 저장하기  -->
    <insert id="insertChapter" parameterType="com.project.iread.dto.ChapterDTO">
        insert into per_chapter(chapter_no,
                                chapter_title,
                                chapter_content,
                                book_note_no)
        values (#{chapterNo},
                #{chapterTitle},
                #{chapterContent},
                #{bookNoteNo})
    </insert>

<!--  기존챕터 업데이트 -->
    <update id="updateChapter" parameterType="com.project.iread.dto.ChapterDTO">
        update per_chapter
        set (chapter_title = #{chapterTitle},
            chapter_content = #{chapterContent})
        where per_chapter_no = #{perChapterNo}
    </update>

<!--  기존BookNote 호출  -->
    <select id="bookNoteDetail" parameterType="long" resultMap="BookNoteMap">
        select bn.*, b.title
        from book_note bn
        join books b on b.book_no = bn.book_no
        where bn.book_no = #{bookNo}
            and bn.book_note_no = #{bookNoteNo}
    </select>

<!--  기존북노트 chapter호출  -->
    <select id="getChapterData" parameterType="long" resultType="com.project.iread.dto.ChapterDTO">
        select * from per_chapter
        where book_note_no = #{bookNoteNo}
    </select>
</mapper>